/* General styling */
div {
  margin-bottom: 2px;
}

input {
  margin: 2px 2px 2px;
  width: 200px;
}

summary {
  cursor: pointer;
}

p {
  margin: 0;
}

/* Styles the results */
#refgen-results {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #ffffff;
  font-family: Calibri;
  color: #000000;
}

/* Web author label for fantasy name */
#refgen-wauthor-fant {
  height: 20px;
  width: 20px;
  margin: 0;
}
