/* *General Styling */
:root {
  --nearblack: #1a1a1a;
  --nearwhite: #e6e6e6;
  --linkcolor: #6489c8;
  --errorred: #ff0000;
  --calcyell: #fcba03;
}

body {
  font-family: monospace;
  font-size: 1.2em;
  color: var(--nearwhite);
  background-color: var(--nearblack);
}

a:visited {
  color: var(--linkcolor);
}

textarea {
  width: 20em;
  height: 2em;
  display: block;
  margin-bottom: 10px;
}

input {
  width: 20em;
  height: 2em;
  border-radius: 5px;
}

button {
  background-color: var(--nearblack);
  border: 1px solid var(--nearwhite);
  border-radius: 5px;
  color: var(--nearwhite);
  padding: 10px;
  width: 126px;
}

button:hover {
  cursor: pointer;
  color: var(--nearblack);
  background-color: var(--nearwhite);
  border-color: var(--nearblack);
}

ul {
  list-style-type: circle;
}

li {
  margin: 10px 0;
}

legend {
  margin: 0 auto;
  font-size: 2em;
  font-style: italic;
}

/* * Focused styling */
/* Display blocks something with margins*/
.dis-b {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
